*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    min-height: 100vh;
    background-color: #0d0d01;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:  sans-serif;
}
.clock{
    position: relative;
    width: 350px;
    height: 350px;
    background-color: rgb(22, 22, 23);
    border-radius:50% ;
    box-shadow: 4px 4px 10px rgba(32, 31, 31, 0.275) ,-4px -4px 10px rgb(0, 0, 0),inset 4px 4px 10px rgb(54, 53, 53) ,inset -4px -4px 10px rgb(0, 0, 0);
position: absolute;
}
.c1
{
    position: absolute;
    border: 5px solid #000;
    height: 150px ;
    width: 150px;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50% ,-50%);
    z-index: 0;

}.c2
{
    position: absolute;
    border: 5px solid #000;
    height: 200px ;
    width: 200px;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50% ,-50%);
    z-index: 0;

}.c3
{
    position: absolute;
    border: 5px solid #000;
    height: 250px ;
    width: 250px;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50% ,-50%);
    z-index:0;

}


.container{
    height: 500px ;
    width: 350px;
    background-color: rgb(16, 15, 15);
    border-radius: 50% 50% 0 0;
    box-shadow:0 0 20px rgb(29, 28, 28), 4px 4px 10px rgba(48, 47, 47, 0.275) ,-4px -4px 10px rgb(0, 0, 0),inset 4px 4px 10px rgb(54, 53, 53) ,inset -4px -4px 10px rgb(0, 0, 0);
position: relative;
}

.numbers .n12,.n3,.n6,.n9{
    position: absolute;
    font-size: 2rem;
font-weight: 700;
/* top: 6px;
left: 50%; */
color:hsl(33, 100%, 51%) ;
/* transform: translate(-50%); */
text-shadow: 1px 1px 2px #000;
z-index: 2;
}
.n3{
    top: 50%;
    right:10px ;
    transform: translatey(-50%);
}
.n12{
    top: 10px;
    left: 50% ;
    transform: translate(-50%);
}.n6{
    bottom: 10px;
    left: 50% ;
    transform: translate(-50%);
}
.n9{
    left: 10px;
    top: 50% ;
    transform: translatey(-50%);
}


.arrows{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #2a2a28; */
    height: 100%;
    width: 100%;
    /* border-radius: 50% 50% 0 0 ; */
z-index: 4;
}
.arrows::after{
    content: '';
    width: 25px;
    height: 25px;
    background-color: rgb(68, 65, 65);
    z-index: 50;
    border-radius: 50%;
    box-shadow: 4px 4px 10px rgba(45, 44, 44, 0.275) ,-4px -4px 10px rgb(0, 0, 0),inset 4px 4px 10px rgb(54, 53, 53) ,inset -4px -4px 10px rgb(0, 0, 0);

}

.c3::after,.c2::after,.c1::after{
    content: "";
    position: absolute;
    width: 3px;
    height: 30%;
    background-color: green;
    left: 50%;
    top: 20px;
    transform: translate(-50%) ;
    transform-origin: bottom;
    border-radius: 50% 50% 0 0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.727);



}

.c1::before,.c2::before,.c3::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%);
top: -10px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0 0 10px red;
z-index: 0;
}
.c1::after{
    transform: translate(-50%)rotate(0deg) ;
background-color: red;
width: 5px;
top:10px ;
height: 50px;
z-index: 21;

}

.c2::after{
    position:absolute ;
    transform: translate(-50%)rotate(0deg) ;
    background-color: blue;
    width: 4px;
    top:15px ;
height: 70px;
z-index: 10;
}
.c2::before{
    box-shadow: 0 0 10px blue;
    background-color: blue;
}
.c3::after{
    border-color: springgreen;
    transform: translate(-50%)rotate(0deg) ;
    width: 2px;
    height: 95px;
    top: 13px;
    z-index: 9;
}
.c3::before{
    box-shadow: 0 0 10px springgreen;
    background-color: springgreen;
    /* transform: translatex(50; */
}
/* analog */
.container span{
    position: absolute;
        /* width: 200px; */
        height: 50px;
        background-color: #000;
       
        bottom: -100px;
        box-shadow: 4px 4px 10px rgba(45, 44, 44, 0.275) ,-4px -4px 10px rgb(0, 0, 0),inset 4px 4px 10px rgb(54, 53, 53) ,inset -4px -4px 10px rgb(0, 0, 0);
    border-radius: 15px;
    }

.s1{
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
    padding: 1rem;
    width: 200px;
    left: 50%;

    transform: translate(-50% ,-30%);
}
span .dhour{
    color: red;
    text-shadow:0 0 10px red;
}
span .dminutes{
    color: blue;
    text-shadow:0 0 10px blue;
}
span .dseconds{
    color: springgreen;
    text-shadow:0 0 10px springgreen;
}
.ampm{
    position: absolute;
    top: 90%;
    text-transform: uppercase;
    color: rgb(250, 243, 243);
    width: 100px;
    right: 10px;
    text-align: center;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    text-shadow: 0 0 5px #fff;
}